.interest{
    @include padding(50px 0);

    &__row{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include margin(50px 0 0 0);
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        color: $color-dark;
        font-size: 20px;
        box-shadow: 0 5px 20px 0 rgba(69,67,96,.1);
        @include padding(15px 40px);
        transition: all 0.3s ease-in;
        @include margin(0 10px 30px 0);

        &:hover{
            transform: scale(0.95,0.95);
        }
    }

    img{
        width: 60px;
        display: block;
        @include margin(0 0 10px 0);
    }
}

@include breakpoint(mobile){

    .interest{

        &__row{
            display: flex;
            flex-direction: column;
        }

        &__item{
            @include margin(0 0 30px 0);
        }

        img{
            width: 50px;
        }

        span{
            font-size: 18px;
        }
    }
}