@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$font-stack : 'Rubik', sans-serif;

$color-white: #fff;

$color-dark:#454360;
$color-black:#343a40;
$color-blue:#007bff;
$color-grey-500:#8B88B1;